@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

a {
  color: rgb(61, 61, 180);
  text-decoration: none;
}

a.active {
  font-weight: bold;
  text-decoration: underline;
}

.sign-up .nav-buttons {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  .back {
    grid-column: 1;
  }

  .next {
    grid-column: 2;
  }
}
